body {

    margin: 0px;
  background-color :aqua;
  font-family: 'Open Sans', sans-serif;
  
}

header {

    background-color: antiquewhite;
    border: rgb(168, 45, 45);
}


header nav {float: right;
}

header nav ul li { 
    display: inline-block;
    padding: 10px;
    padding-right:40px ;


}

main section h3 {

    display: flex;
    justify-content: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;

}

.i div {

    justify-content: right;
}
main section ul{

display:flex; 
/* justify-content: center; */
margin: auto; 
justify-content: space-between;
padding: 20px;
font-display:initial;

font-family: Verdana, Geneva, Tahoma, sans-serif;

}


main div h5{

    display: flex;
    justify-content: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main div h2{

    display: flex;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


main div img {

    
    justify-content: center;
}


main :nth-child(2) img {

    justify-content: center;
}

footer {
    background-color: antiquewhite;
    width: 100%;
    height: auto;
}

footer div h3  {

    display: flex;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    

}
footer div h5 {


    display: flex;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}